dist/*
build/*
src/lectureplayer

/deploy/lib
/deploy/bin
*.rms
*.bc17
/build/
/bin/
*.conf
.DS_Store
*.log
*.swp
*.pyc
.gradle
/client/
*.jar
*.iml
*.ipr
*.iws
/.idea/


# User-specific stuff:
battlecode-scaffold.iws

access.txt

gradlew.bat
gradle.properties
gradlew
gradle/
build/

test/
matches/

LICENSE
README.md
version.txt

build.gradle

submission.zip